sample/keys/-feature-graphic.png
sample/keys/deviceInfo-release.keystore
sample/keys/encryptedPrivateKey
sample/keys/key.properties
sample/keys/pepk.jar
sample/keys/upload_certificate.pem
sample/keys/uploadkey.keystore
